:root {
    --fire-opal: #DA5740;
    --charcoal: #3E5161;
    --dark-electric-blue: #587389;
    --light-orange: #F4D1AE;
    --darker-charcoal: #192234;
    --opace-darker-charcoal: rgba(37, 50, 67, 0.5);
}

body * {
    font-family: 'Noto Sans KR', sans-serif;
}

.App {
    height: 100vh;
}

.navbar {
    height: 10vh;
    border-bottom: 5px solid var(--light-orange);
}

.body {
    height: 90vh;
    padding: 25px;
}

.nav-background-colour {
    background-color: var(--fire-opal);
}

.body-background {
    background-color: var(--charcoal);
}

.footer-background {
    background-color: var(--opace-darker-charcoal);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 10vh;
    display: flex;
}

.font-colour {
    color: white ;
}

.nav-title {
    font-size: xx-large;
}

.username {
    font-size: medium;
}

#players {
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
}

.player-list {
    margin-top: 30px;
    margin-bottom: 10px;
    max-height: 50vh;
    overflow-y: auto;
    border: 3px solid white;
    box-shadow: 5px 5px var(--darker-charcoal);
    background-color: var(--opace-darker-charcoal);
}


.full-width {
    width: 100%;
}

.button-spacing {
    margin-top: 15px;
}

.buttons {
    padding: 5.1px;
    box-shadow: 5px 5px var(--darker-charcoal);
}

.player-list-font-size {
    font-size: 20px;
}

h3,h2 {
    background-color: var(--opace-darker-charcoal);
    box-shadow: 5px 5px var(--darker-charcoal);
    padding: 10px;
    display: inline-block;
    margin-top: 26px;
}

.round-tracker {
    position: absolute;
    top: 11vh;
    right: 10px;
    padding-top: 5px;
}

.role-tracker {
    position: absolute;
    top: 11vh;
    left: 10px;
    padding-top: 5px;
}

.goals-table {
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
}

.playing-phase-info {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px
}

.goals-list-title {
    margin-bottom: 0px;
    font-weight: bold;
}

.footer-text {
    position: relative;
    margin: auto;
}

.margin-top-16 {
    margin-top: 16px;
}

.playing-text-spacing {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.single-number-button {
    background-color: var(--opace-darker-charcoal);
    box-shadow: 5px 5px var(--darker-charcoal);
    padding: 7px;
    display: inline-block;
    margin-right: 10px;
    color: white;
    border: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 29.7px;
    padding-right: 5px;
    padding-left: 5px;
}

.roll-button {
    box-shadow: 5px 5px var(--darker-charcoal);
    padding: 7px;
    padding-right: 7px;
    padding-left: 7px;
    display: inline-block;
    margin-top: 10px;
    border: 0;
    font-size: 35px;
    padding-right: 8px;
    padding-left: 8px;
}

.bottom-anchored-and-centered {
    bottom: 20px;
    position: absolute;
    margin: auto !important;
    right: 30px;
}

.selected-button {
    background-color: var(--dark-electric-blue) !important;
}

.position-absolute-centered {
    position: absolute;
    margin: auto !important;
}