:root {
    --main-nav-background-colour: #DA5740;
    --main-background-colour: #3E5161;
    --border-colour: #F4D1AE;
    --button-colour:  #DA5740;
    --darker-body-background: #253243;
}

body * {
    font-family: 'Noto Sans KR', sans-serif;
}

.App {
    height: 100vh;
}

.navbar {
    height: 10vh;
    border-bottom: 5px solid var(--border-colour);
}

.body {
    height: 90vh;
    padding: 30px;
}

.nav-background-colour {
    background-color: var(--main-nav-background-colour);
}

.body-background {
    background-color: var(--main-background-colour);
}

.footer-background {
    background-color: var(--main-background-colour);
    position: absolute;
    bottom: 0;
}

.font-colour {
    color: white ;
}

.nav-title {
    font-size: xx-large;
}

.username {
    font-size: medium;
}

#players {
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
}

.player-list {
    margin-top: 30px;
    margin-bottom: 10px;
    max-height: 50vh;
    overflow-y: auto;
    border: 3px solid rgb(214, 214, 214);
    box-shadow: 5px 5px var(--darker-body-background);
    background-color: rgba(37, 50, 67, 0.5);;
}


.full-width {
    width: 100%;
}

.button-spacing {
    margin-top: 15px;
}

.buttons {
    padding: 5.1px;
    box-shadow: 5px 5px #253243;
}

.player-list-font-size {
    font-size: 20px;
}

h3,h2 {
    background-color: rgba(37, 50, 67, 0.5);
    box-shadow: 5px 5px #192234;
    padding: 10px;
    display: inline-block;
}

.round-tracker {
    position: absolute;
    top: 80px;
    right: 10px;
}

.goals-table {
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
}
